/*
  You can import this file from a Vue component by doing:

    @import "~@/styles/common";

  Place the above statement within the <style> block. You can also
  override these variables after they are imported if needed.
 */

/* Global Colors */
$defaultTextColor: #cacaca;
$bg-color: hsl(205, 32, 7);
$bg-color-light: hsl(205, 32, 12);
$bg-color-light2: hsl(205, 32, 17);
$bg-color-dark: hsl(205, 32, 2);
$defaultBorder: solid 1px $bg-color-light2;

/* Mixins */
@mixin defaultBorderImage {
  /*
  border-width:3px;
  border-style: solid;
  border-image: url(../../public/gfx/border-image-01.png) 3 3 repeat;
  */
  border: $defaultBorder;
}