/*
  You can import this file from a Vue component by doing:

    @import "@/styles/common";

  Place the above statement within the <style> block. You can also
  override these variables after they are imported if needed.
 */

/* Global Colors */
$defaultTextColor: #cacaca;
$defaultBackgroundColor: #0d1419;
$defaultBorder: solid 1px #333;

/* Mixins */
@mixin defaultBorderImage {
  border-width:3px;
  border-style: solid;
  border-image: url(../../public/gfx/border-image-01.png) 3 3 repeat;
}