/*
  You can import this file from a Vue component by doing:

    @import "@/styles/common";

  Place the above statement within the <style> block. You can also
  override these variables after they are imported if needed.
 */

/* Global Colors */
$defaultTextColor: #cacaca;
$defaultBackgroundColor: #111;
$defaultBorder: solid 1px #333;